/*
 * Reset
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio[controls],
canvas,
video {
	display: inline-block;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 3 */
	-ms-text-size-adjust: 100%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	list-style: none;
}

:focus {
	outline: 0;
}

img {
	vertical-align: middle;
	outline: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
	border: none;
}

html,
body,
textarea,
input {
	-webkit-text-size-adjust: none;
}

html {
	overflow-x: hidden;
}

body {
	text-align: left;
	overflow: hidden;
}

/* Styles intended only for the front.*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* Variables */

:root {
	--background-default: #fafafa;
	--action-main: rgba(14, 13, 15, 0.64);
	--action-main-svg: rgb(14, 13, 15);
	--divider-main: rgba(14, 13, 15, 0.08);
	--text-primary: #0e0d0f;
	--secondary-48: rgba(250, 250, 250, 0.48);
	--white-contrast: #0a090a;
	--purple-main: #6f76c0;
}

.dark-mode-gamestore {
	--background-default: #0e0d0f;
	--action-main: rgba(255, 255, 255, 0.64);
	--action-main-svg: rgb(255, 255, 255);
	--divider-main: rgba(255, 255, 255, 0.12);
	--text-primary: #ffffff;
	--secondary-48: rgba(14, 13, 15, 0.60);
	--white-contrast: #ffffff;
}

body {
	font-family: Urbanist;
	font-style: normal;

	&.dark-mode-gamestore {
		color: #ffffff;

		a {
			color: #ffffff;
		}
	}
}