name: GameStore Deploy

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Copy site to server
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USER}}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: /domains/f1074965.xsph.ru/public_html/wp-content/
